# Unreal Engine

Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio

.vs/

*.VC.db
*.VC.opendb

# Rider

.idea/

# Build outputs

*.sln

# Visual Studio Config
.vsconfig

# Unreal Upgrade Logs
UpgradeLog.htm
# Large local UE assets
Content/Weapon_Pack/Map/Weapons_Kit_BuiltData.uasset
Content/Weapon_Pack/Textures/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
* . m p 4 
 
# Video recordings
Videos/
*.mp4
*.mov
*.avi
 
 